.navtext{
    box-sizing: border-box;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-shadow: 0 0 20px #176e94,
                0 0 40px #176e94,
                0 0 80px#176e94,
                0 0 100px#176e94,
                0 0 160px #176e94
}
.navtext:hover{
    cursor: pointer;
    text-shadow: 0 0 20px #00b3ff,
                0 0 40px #00b3ff,
                0 0 80px#00b3ff,
                0 0 100px#00b3ff,
                0 0 160px #00b3ff
    

}
.nav{
    box-sizing: border-box;
    color: #fff;
    font-weight: 60;
    text-shadow: 0 0 20px #176e94,
                0 0 40px #176e94,
                0 0 80px#176e94,
                0 0 100px#176e94,
                0 0 160px #176e94
}
.dot{
    animation-name: dots;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-sizing: border-box;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-shadow: 
                0 0 20px #809fff,
                0 0 40px #809fff,
                0 0 80px#809fff,
                0 0 100px#809fff,
                0 0 160px #809fff
}
.button{
    text-shadow: 0 0 20px #00b3ff,
                0 0 40px #00b3ff,
                0 0 80px#00b3ff,
                0 0 100px#00b3ff,
                0 0 160px #00b3ff
}

@keyframes dots{
    50%{
        opacity: 0;
        transform: scale(0.7) ;
    }
}

.box {
    display:flex;
    justify-content:center;
    align-items: center;

    height: 200px;
    cursor: pointer;
    border-radius: 25px;
    letter-spacing: 0.2em;
    /* box-shadow: 0 0 10px #00b3ff,
                0 0 20px #00b3ff,
                0 0 40px#00b3ff,
                0 0 80px#00b3ff,
                0 0 160px #00b3ff; */
    animation: item 1000ms ease-in;
}

@keyframes item{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

.items{
    animation-name: list;
    /* animation-duration: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; */
}

@keyframes list{
    /* 50%{
        opacity: 30px;
        transform: scale(0.1);
    } */
}
.items:hover{
    text-shadow: 0 0 20px #00b3ff,
                0 0 40px #00b3ff,
                0 0 80px#00b3ff,
                0 0 100px#00b3ff,
                0 0 160px #00b3ff
    
    
}
.navitems{
    animation-name: list;
}


.navitems:hover{
    text-shadow: 0 0 20px #00b3ff,
                0 0 40px #00b3ff,
                0 0 80px#00b3ff,
                0 0 100px#00b3ff,
                0 0 160px #00b3ff
    
}

.bar {
    height:20px;
    width:3px;
    padding-right: 5px;
    text-shadow: 
                0 0 20px #809fff,
                0 0 40px #809fff,
                0 0 80px#809fff,
                0 0 100px#809fff,
                0 0 160px #809fff
    
}
.bar:hover{
    cursor: pointer;
    text-shadow: 
                0 0 20px #809fff,
                0 0 40px #809fff,
                0 0 80px#809fff,
                0 0 100px#809fff,
                0 0 160px #809fff
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listitems{
    padding-left: 10%;
}
.listitems:hover{
        cursor: pointer;
        text-shadow: 
                0 0 20px #809fff,
                0 0 40px #809fff,
                0 0 80px#809fff,
                0 0 100px#809fff,
                0 0 160px #809fff
}